.headerConatiner{
    border: solid green;
    width:100%;
    height: 250px;
    display: flex;
    flex-direction: column;

}
.searchContainer{
    border: solid teal;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-left: 0%;
}

.linkContainer{
border: solid yellow;
width: 30%;
height:50px;
display: flex;
justify-content: space-evenly;
margin-left: 70%;

}
#about{
    border: solid brown;
    height: 600px;
    width: 100%;
}
#projects{
    border: solid purple;

    height: 600px;
    width: 100%;
}
#contact{
    border: solid pink;

    height: 600px;
    width: 100%;
}
