.headerConatiner{
    border: solid green;
    width:100%;
    height: 250px;
    display: flex;
    flex-direction: column;

}
.searchContainer{
    border: solid teal;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-left: 0%;
}

.linkContainer{
border: solid yellow;
width: 55%;
height:55px;
display: flex;
justify-content: space-evenly;
margin-left: 20%;
padding-top: 30px;

}
#about{
    border: solid brown;
    height: 600px;
    width: 100%;
    margin-top: 100px;

}
#projects{
    border: solid purple;
    margin-top: 300px;

    height: 600px;
    width: 100%;
}
#contact{
    border: solid pink;
    margin-top: 300px;
    height: 600px;
    width: 100%;
}
.nav__logo img{
    height: 70px;
    width: 95px;
    padding-top: ;
}
img{
    max-width: 100%;
    padding-top: 10px;
}